---
// Button
// ------------
// Description: Interactive button element with various types, styles, and sizes.
// Properties:
// - Type: button type (link, button, submit, reset)
// - Size: button size (lg, base, sm)
// - Link: URL for link type buttons
// - Modal: ID of modal triggered by the button (optional)
// - Style: button style (neutral (default), primary, link)
// - Classes: additional CSS classes

// Content
// - Props
type Props = {
	type?: 'link' | 'button' | 'submit' | 'reset'
	size?: 'lg' | 'base' | 'sm'
	link?: string
	modal?: string
	style?: 'primary' | 'link' | 'neutral' | 'white'
	classes?: string
}
const { type = 'button', size = 'base', link, modal, style = 'primary', classes } = Astro.props

const isAbsoluteURL = (url: string) => /^https?:\/\//i.test(url)
---

{
	type === 'link' || link ? (
		<a
			href={link}
			target={link && isAbsoluteURL(link) ? '_blank' : '_self'}
			class:list={[
				'button',
				{ ['button--' + `${size}`]: size },
				{ ['button--' + `${style}`]: style },
				{ [`${classes}`]: classes }
			]}
		>
			<slot />
		</a>
	) : (
		<button
			type={type}
			class:list={[
				'button',
				{ ['button--' + `${size}`]: size },
				{ ['button--' + `${style}`]: style },
				{ [`${classes}`]: classes }
			]}
			{...(modal ? { 'data-modal': modal } : {})}
		>
			<slot />
		</button>
	)
}
<style>
	@reference '../../styles/global.css';
	.button {
		@apply relative inline-flex cursor-pointer items-center justify-center gap-2 rounded-full bg-accent-500 font-bold text-nowrap text-neutral-950 transition duration-300 hover:bg-white hover:text-neutral-950 focus-visible:outline-hidden disabled:cursor-not-allowed disabled:opacity-50;
	}
	.button--lg {
		@apply h-14 px-8;
	}
	.button--base {
		@apply h-12 px-8;
	}
	.button--sm {
		@apply h-10 px-4 text-sm;
	}
	.button--primary {
		@apply bg-accent-500 text-neutral-950 hover:bg-white hover:text-neutral-950;
	}
	.button--neutral {
		@apply bg-accent-500 text-neutral-950 hover:bg-white hover:text-neutral-950 dark:bg-accent-500 dark:text-neutral-950 dark:hover:bg-white;
	}
	.button--white {
		@apply bg-white text-neutral-950 hover:bg-accent-500;
	}
	.button--link {
		@apply inline-flex h-auto! items-center justify-start gap-2 bg-transparent px-0 text-primary-500 font-medium hover:text-primary-600 hover:bg-transparent focus:text-primary-600 dark:text-primary-400 dark:hover:text-primary-300 dark:hover:bg-transparent;
	}
</style>
